.glassmorphism {
    background-color: rgba(225, 225, 225, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(0.1px);
    border: 2px solid rgba(225, 225, 225, 0.15);
}